<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href ="/images/oxygen.png" type = "image/x-icon">
    <title>Admin Dashboard</title>
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
    <div class="row g-0">
        <%- include('../common/nav.ejs') %>
        <div class="col-9 ms-5">
            <div class="my-5 mx-5">
                <%- body %>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/jquery.dataTables.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>