<!-- test for login user auth you can delete this file -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <p> <%= message %></p>
    <form action="/login" method="post">
        <label for="username">Enter User Name</label>
        <input type="text" name="username" id="username"> <br>
        <label for="password">Enter Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div class="wrapper">
   
    <form action="/login" method="POST">
        <div id="wizard">
            
            <section>
                <img src="/images/todo.png" alt="todo logo" width="50px" height="auto">
                <p>TEAMTODO</p>
                <div class="form-row">Enter Username <br><br><input type="text" class="form-control" name="username" placeholder="Username"> </div>
                <div class="form-row"> Enter Password <br><br><input type="password" class="form-control" name="password" placeholder="Password"> </div><br><br>
                <div>
                    <input type="submit" value=" Login ">
                </div>
            </section>
        </div>
    </form>
</div>
</body>
</html>