body{
  background-color: rgb(10, 33, 49);
  color: white;
}
.form-title{
  letter-spacing: 3px;
}
.form-div{
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  
  padding: 30px;
  border-radius: 20px;
}

.border-radius{
  border-radius: 30px 10px 10px 30px;
}
.right-radius{
  border-radius: 10px 30px 30px 10px;
}
.all-radius{
  border-radius: 30px;
}
.nav-item:hover{
  background-color: rgb(9, 48, 49);
  color: rgb(255, 255, 255);
}