<nav class="col-2  pr-3 g-0" >
    <div class="py-2 row" style="background-color: rgb(79, 193, 216); border-bottom-right-radius: 50px;">
        <div class="col-6 text-center align-items-center">
            <img src="/images/todo.png" alt="Oxygen Logo" class="w-75" >
        </div>
        <div class=" col-6  px-1 fs-4 fw-bold" style="font-family: cursive; color: rgb(100, 100, 95);">
            TEAM <br> TODO
        </div>
    </div>
    <div class="list-group text-start bg-light" style="height: 85vh; width: 87.5%;">
        <span class="list-group-item disabled">
            <small>CONTROLS</small>
        </span>
        <a href="/admin" class="list-group-item list-group-item-action nav-item dashboard ">
            <span class=""> Dashboard </span>
        </a>
        <a href="/user" class="list-group-item list-group-item-action nav-item user">
            <span class=""> Users </span>
        </a>
        <a href="/logout" class="list-group-item list-group-item-action nav-item ">
            <span class=""> Logout </span>
        </a>
        <hr class="my-3">
        <span class="list-group-item disabled">
            <small>Views</small>
        </span>
        <a href="/" class="list-group-item list-group-item-action nav-item  ">
            <span class=""> Client Side </span>
        </a>
    </div>
</nav>
